[submodule "ReactQuery_Tutorial"]
	path = ReactQuery_Tutorial
	url = https://github.com/Alireza-Jodat2001/ReactQuery_Tutorial.git
[submodule "Authentication_Tutorial"]
	path = Authentication_Tutorial
	url = https://github.com/Alireza-Jodat2001/Authentication_Tutorial.git
[submodule "Express_Tutorial"]
	path = Express_Tutorial
	url = https://github.com/Alireza-Jodat2001/Express_Tutorial.git
[submodule "next_tutorials"]
	path = next_tutorials
	url = https://github.com/Alireza-Jodat2001/next_tutorials.git
